/* Cyrus Liang */

/* Globals */
body {
  font: 22px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: #fff;
}
section {
  margin-bottom: 50px;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
a:hover {
  text-decoration: none;
  color: #004;
}

/* Custom Globals */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.v-middle {
  vertical-align: middle;
  margin: auto;
}

/* Header */
header {
  background:#555;
  color: #fff;
  padding: 15px;
}
  header nav {
    float: right;
  }
  header li {
    display: inline;
    padding: 0 20px;
  }
    header li.current a {
      color: #004;
      font-weight: bold;
    }
  header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
#branding h3 {
  margin: 0;
  text-transform: none
}

/* Hero */
#hero {
  padding: 150px 150px 90px 150px;
  background-repeat: no-repeat;
}
#hero .container {
  width: 100%;
}
#hero.index-hero {
  color: #000;
  background-image: url("../img/architecture-bay-beach-345750.jpg");
  background-position: center;
  background-size: auto;
}
#hero.skills-hero {
  color: #fff;
  background-image: url("../img/chopped-chopped-wood-cold-376365.jpg");
  background-position: bottom;
  background-size: cover;
}
#hero.projects-hero {
  color: #fff;
  background-image: url("../img/aromatic-brewed-coffee-caffeine-872902.jpg");
  background-position: bottom;
  background-size: cover;
}
#hero.contact-hero {
  color: #000;
  background-image: url("../img/blue-sky-connection-construction-389726.jpg");
  background-position: center;
  background-size: cover;
}
#hero h1 {
  text-transform: uppercase;
}

/* Experience */
#experience .txt-center {
  margin-top: 25px;
}

/* Skills */
#skills img {
  padding: 5px;
}

/* Projects */
#projects .container .row:not(:last-of-type) {
  border-bottom: #555 3px solid;
}
#projects .row {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
  #projects .row img {
    max-height: 200px;
    max-width: 300px;
    width: auto;
  }
  #projects .row ul {
    margin-left: 22px;
  }

/* Contact */
#contact .mailto {
  margin: auto;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
}
#contact .mailto:hover {
  color: #004;
}
#contact img {
  margin: 25px auto;
}

/* Footer */
footer {
  background: #555;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-top: #004 3px solid;
}