/* Cyrus Liang */

/* Globals */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
}

h2 {
  color: #333;
}

.contact-info,
.skills,
.experience,
.education {
  margin-bottom: 20px;
}

.contact-info p,
.skills ul,
.experience ul,
.education ul {
  margin: 10px 0;
}

.skills li,
.experience li,
.education li {
  list-style: none;
}

.contact-info a {
  color: #333;
  text-decoration: none;
}

/* Custom Globals */
a:hover {
  text-decoration: none;
  color: #004;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Hero */

/* Skills */

/* Projects */
#projects .container .row:not(:last-of-type) {
  border-bottom: #555 3px solid;
}

#projects .row {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

#projects .row img {
  max-width: 300px;
  height: auto;
}

#projects .row ul {
  margin-left: 22px;
}

/* Contact */

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

/* -Responsive- */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}